.footer {
    height: 80px;
    background-color: grey;

    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-column: 1/2;
    grid-row: 3/4;

    text-align: center;
}

.bloques_foo1 {
    width: 600px;
    height: 50px;
    background-color: darkgray;

    border-radius: 5px;

    display: flex;
    align-self: center;
    justify-self: center;

    text-align: center;
}